/* styles.css */
:root {
  /* CSS HEX */
--black: #040403ff;
--dusty-olive: #5b7553ff;
--muted-teal: #8eb897ff;
--tea-green: #c3e8bdff;
--celadon: #9ddbadff;
}

body {
  background-color: var(--tea-green);
}

h1 {
  color: var(--dusty-olive);
}
h2 {
  font-size: calc(1.325rem + .9vw);
line-height: 1.2;
}

h3 {
  font-size: calc(1.325rem + .9vw);
line-height: 1.2;
}

h4 {
  font-size: calc(1.325rem + .9vw);
line-height: 1.2;
}
